.main-content {
  //   margin-top: 96px;
  .player-header {
    position: relative;
    height: 360px;
    padding-top: 81px;
    background-image: url('https://web-assets.mancity.com/dist/images/brand/shipspurple.png');
    background-position: 50% 20%;
    background-size: cover;
    text-align: left;
    .container {
      max-width: 976px;
      width: 100%;
      padding-left: 2.4rem;
      padding-right: 2.4rem;
      margin-left: auto;
      margin-right: auto;
      h1 {
        position: relative;
        margin-left: -10px;
        margin-right: -10px;
        display: flex;
        flex-wrap: wrap;
        .first-name {
          position: relative;
          margin-left: 20%;
          line-height: 56px;
          padding-left: 38%;
          bottom: -57px;
          font-weight: 700;
          color: #e6ff00;
          text-transform: uppercase;
          span {
            padding: 5px 15px;
            background-color: #001838;
            font-size: 55px;
            line-height: 56px;
          }
        }
        .last-name {
          position: relative;
          min-width: 1044px;
          display: inline;
          white-space: nowrap;
          color: #fff;
          font-weight: 700;
          bottom: -14px;
          padding: 1px;
          padding-left: 39%;
          font-size: 157px;
          text-transform: uppercase;
          margin-left: 20%;
          letter-spacing: -10px;
          z-index: 2;
          overflow: hidden;
        }
      }
      .shirt-number {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 auto;
        -webkit-text-stroke: 1.5px #e6ff00;
        bottom: 0px;
        right: 55%;
        h2 {
          bottom: 170px;
          margin: 0;
          font-size: 200px;
          line-height: 220px;
          margin-bottom: 8px;
          font-weight: 700;
          color: transparent;
          text-align: right;
          letter-spacing: -8px;
        }
      }
      .image {
        position: absolute;
        left: 40%;
        // transform: translateX(-100%);
        width: 301px;
        height: 301px;
        bottom: 0;
        z-index: 3;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
