@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --primary-color: #98c5e9;
  --text-color: #001838;
  --background-color: #f1f4f6;

  --default-layout-header-high: 80px;
  --default-layout-width: 1150px;
  --default-layout-horizontal-spacer: 60px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --pri-color: rgb(216, 45, 139);
}

body {
  font-family: 'Inter', sans-serif !important;
  font-size: 1.6rem;
  // line-height: 1.5;
  margin: 0;
  padding: 0;
  text-rendering: optimizeSpeed;
}
