.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  margin: 0 12px;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 8px;
  text-decoration: none;
  color: #000;
  transition: background-color ease-in-out 200ms;
  text-transform: capitalize;
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }

  &.active {
    color: #fff;
    background-color: #4b49ac;
    .icon {
      display: none;
    }

    .active-icon {
      display: flex;
    }
  }
}

.title {
  margin-left: 10px;
}

.icon,
.active-icon {
  display: flex;
}

.active-icon {
  display: none;
}
