input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-title {
  font-size: 14px !important;
}

.modal-body {
  padding-bottom: 0;
  padding-top: 4px;
}

.form__group {
  position: relative;
  padding: 20px 18px 0;
  width: 100%;
  margin-top: 14px;

  .icon {
    position: absolute;
    right: 12px;
  }

  &.err {
    .form__field {
      border-bottom: 2px solid #ff0f0f !important;
    }
    .position,
    .nationality {
      border-bottom: 2px solid #ff0f0f !important;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000000000;
  }

  li {
    padding: 10px;
    cursor: pointer;
  }

  li:hover {
    background-color: #f2f2f2;
  }
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 14px;
  color: #383838;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  position: relative;

  &.detail {
    border: 2px solid #9b9b9b;
    margin-top: 10px;
    border-radius: 4px;

    &:focus {
      border-radius: 4px !important;
    }
  }
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 14px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 14px;
  color: #9b9b9b;
  pointer-events: none;
  z-index: 2;

  span {
    color: rgba(255, 0, 0, 0.615);
  }
}

.btn {
  font-size: 14px !important;
  padding: 4px 18px !important;
  margin-right: 12px !important;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 600;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;

  &.detail {
    border-radius: 4px !important;
    overflow: hidden;
  }
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 14px;
  color: #38caef;
  font-weight: 500;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.section-type {
  .position,
  .nationality {
    width: 100%;
    border: none;
    font-size: 1.4rem;
    margin-top: 18px !important;
    border-bottom: 2px solid #9b9b9b;
  }
}

.detail-err.err {
  .form__field {
    border: 2px solid #ff0f0f;
    border-radius: 4px;
  }
}
