.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button-width: 52px;
  position: fixed;
  top: 0;
  margin-left: -24px;
  width: 80%;
  height: var(--default-layout-header-high);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  background-color: #7da0fa;
  box-shadow: 0px 5px 21px -5px #cdd1e1;
  text-transform: capitalize;
  border-radius: 4px;
  z-index: 1000000000;
}

.inner {
  width: 100%;
  display: flex;
  padding: 0 34px;
  justify-content: space-between;
  align-items: center;
}

.welcome {
  color: #fff;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
}

.actions {
  display: flex;
  justify-content: center;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  .name {
    margin-left: 8px;
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 700;
  }
}

.more-btn {
  font-size: 2rem;
  padding: 4px 6px;
  margin-left: 28px;
  background-color: transparent;
  cursor: pointer;
}

.action-btn {
  position: relative;
  display: flex;
  font-size: 2.2rem;
  background-color: transparent;
  padding: 4px 10px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -3px;
  right: 0px;
  padding: 0px 6px;
  height: 2rem;
  line-height: 2rem;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  background-color: #4b49ac;
}

.user-avatar {
  height: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 14px;
  cursor: pointer;
}

// Custom tippy tooltip
