.contentPage {
  padding: 30px 20px 20px 20px;
  background-color: #eae2e24a;
  padding-bottom: 50px;
  border-radius: 10px;
  height: 100%;
}

.listCard {
  border-radius: 10px;
}

.cardInfo {
  display: grid;
  grid-template-columns: 80px auto;
  padding: 10px;
  border: 1px solid rgba(194, 194, 197, 0.574);
  height: 120px;
  width: 250px;
  margin: 10px auto;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
  background-color: #fff;
}

.cardInfo:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 5px #e67524f2;
}

.leftCard {
  display: flex;
  margin: auto;

  .iconCard {
    border-radius: 50%;
    font-size: 26px;
    color: #ffb21e;
    background-color: #fef1cf;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.rightCard {
  margin: auto 0px auto 2px;

  .numberCard {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }

  .nameCard {
    font-size: 20px;
    color: #fff;
  }
}

.header {
  height: 350px;
  color: #fff;
  .background {
    position: absolute;
    top: 96px;
    left: 0;
    width: 95%;
    margin-left: 3%;
    // margin-right: 4%;
    height: inherit;
    pointer-events: none;
    background: #001838;
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      height: 100%;
      width: 100%;
      background-image: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
    }
  }
  .wrapper {
    position: relative;
    // max-width: 976px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    .competition {
      font-size: 2.4rem;
      font-weight: 700;
      letter-spacing: -0.2px;
    }
    .venue {
      margin-top: 17px;
      time {
        font-size: 2.2rem;
        font-weight: 700;
        letter-spacing: -0.1px;
      }
      p {
        margin-top: 5px;
        font-size: 14px;
        opacity: 0.6;
        text-transform: none;
        margin-bottom: 0;
      }
    }
    .fixture {
      position: relative;
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2.4rem;
      .first {
        width: 50%;
        padding-right: 93px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        img {
          margin-left: 14px;
          width: 60px;
          height: 60px;
        }
      }
      .time {
        position: absolute;
        top: 12px;
        time {
          letter-spacing: -0.2px;
        }
        p {
          opacity: 0.5;
          font-size: 13px;
          margin: 0;
        }
      }
      .second {
        width: 50%;
        padding-left: 93px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img {
          margin-right: 14px;
          width: 60px;
          height: 60px;
        }
      }
    }
    .live {
      margin-top: 28px;
      font-size: 2rem;
      padding: 4px 12px;
      color: #fff;
      background-color: red;
      font-weight: 700;
      border-radius: 4px;
      &:hover {
        color: #000;
        cursor: pointer;
      }
    }
  }
}
