.header {
  position: sticky;
  top: 0;
  z-index: 100;
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      .logo {
        color: var(--text-color);
        background-color: transparent;
        img {
          width: 67px;
          height: 67px;
        }
      }
      .nav-primary {
        max-width: 700px;
        height: 100%;
        margin-left: 24px;
        display: flex;
        width: 100%;
        .nav-list {
          display: flex;
          align-items: center;
          flex-direction: row;
          margin: 0;
          padding: 0;
          width: 100%;
          list-style: none;
          .nav-item {
            text-transform: uppercase;
            margin-left: 24px;
            min-width: 48px;
            height: 100%;
            a {
              color: var(--text-color);
              font-weight: 700;
              font-size: 2.6rem;
              line-height: 28px;
              text-decoration: none;
              &:hover {
                cursor: pointer;
                text-decoration: underline;
              }
            }
          }
          .nav-item:first-child {
            margin-left: 0;
          }
        }
      }
      .nav-secondary {
        height: 100%;
        display: flex;
        align-items: center;
        .nav-list {
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0;
          .nav-item {
            text-transform: uppercase;
            margin-left: 24px;
            min-width: 48px;
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 1.7rem;
            a {
              color: var(--text-color);
              font-weight: 600;
              font-size: 1.8rem;
              line-height: 28px;
              text-decoration: none;
              display: flex;
              align-items: center;
              .text {
                margin-right: 8px;
              }
              .thumbnail {
                font-size: 1.5rem;
              }
              &:hover {
                cursor: pointer;
                opacity: 0.8;
              }
            }
            .icon-out {
              font-size: 14px;
              color: var(--text-color);

              .logout {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                .icon {
                  &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: -10px;
                    right: 10px;
                    height: 30px;
                    width: 30%;
                  }
                  &:hover {
                    svg {
                      opacity: 0.7;
                    }
                    & .menu {
                      display: block;
                    }
                  }
                }

                h2 {
                  font-size: 14px;
                }

                svg {
                  font-size: 14px;
                  padding: 12px 16px;
                  position: relative;
                  cursor: pointer;
                }

                .icon-user {
                  max-width: 34px;
                  max-height: 34px;
                  border: 1px solid #383838;
                  border-radius: 50%;
                  color: #fff;
                  background-color: #000;

                  svg {
                    margin-top: -17.5%;
                    margin-left: -20.5%;
                    font-size: 1.7rem;
                  }
                }

                .menu {
                  position: absolute;
                  top: 100%;
                  right: 10px;
                  min-width: 200px;
                  background-color: #fff;
                  border-radius: 4px;
                  display: none;
                  transition: all 0.3s ease;
                  animation: show 0.3s ease;
                  border: 1px solid #ccc;

                  @keyframes show {
                    0% {
                      top: calc(100% - 12px);
                    }
                    100% {
                      top: 100%;
                    }
                  }

                  h2 {
                    padding: 10px 30px 10px 16px;
                    font-size: 12px;
                    color: #383838;
                    font-weight: 600;

                    span {
                      display: inline-block;
                      margin: 0 16px 0 0;

                      svg {
                        padding: 0;
                        color: #383838;
                        cursor: auto;
                      }
                    }
                  }

                  ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    font-size: 12px;
                    li {
                      cursor: pointer;
                      // border-top: 1px solid #383838;
                      display: flex;
                      align-items: center;
                      // padding: 10px 30px 10px 16px;
                      color: #383838;
                      font-weight: 500;
                      transition: all 0.2s linear;

                      a {
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        color: currentColor;
                        font-size: 1.2rem;
                      }
                      &:hover {
                        background-color: #6caddf;
                        color: #e6ff00;
                      }

                      &:last-child {
                        border-top: 1px solid #383838;
                        border-bottom-left-radius: 4px;
                        border-bottom-right-radius: 4px;
                      }
                      &:first-child {
                        border-top: 1px solid #383838;
                      }
                    }
                  }
                }
              }
            }

            .language {
              font-weight: 500;
              margin-left: 4px;
            }
          }
          .nav-item:last-child {
            &::before {
              content: '';
              position: absolute;
              width: 1px;
              height: 24px;
              left: 75.8%;
              margin-top: 2px;
              background: #6caddf;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 360px) {
  .container {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

@media (min-width: 768px) {
  .container {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    min-height: 96px;
  }
  .container {
    max-width: 1024px;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}
